body {
  font-family: Arial, sans-serif;
  background-color: #8a2be2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 160px;
  width: 1600px;
  margin: 0 auto;
}

h1 {
  font-size: 96px;
  color: #333;
  margin-bottom: 40px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  width: 80%;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 300px;
  text-overflow: ellipsis;
}
.task-item.completed {
  text-decoration: line-through;
  color: #888;
}

.task-item button {
  margin-top: 40px;
  padding: 96px 160px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 144px;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border-radius: 40px;
}

.edit-button {
  background-color: #ff9800;
  color: #fff;
  border-radius: 40px;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  border-radius: 40px;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
  background-color: #f5f5f5; /* Добавили фон под формой */
  padding: 40px; /* Добавили внутренний отступ для фона */
}

.task-form input[type="text"] {
  padding: 120px;
  margin-bottom: 80px;
  border: 4px solid #e1e1e1;
  border-radius: 40px;
  font-size: 144px;
}
.task-container {
  background-color: #f9f9f9;
  border-radius: 5px 25px 25px 5px; /* Левый верхний, правый верхний, правый нижний, левый нижний */
  margin-bottom: 10px; /* Уменьшено расстояние между задачами */
  margin-top: 10px;
  color: #000000;
  background-color: #a9c4dd;
  border: 3px solid black;
  word-wrap: break-word;
  width: 650px;
  
}

.task-form button {
  margin-top: 40px;
  padding: 96px 160px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 144px;
  color: red;
  border-radius: 30px;
}

.ded {
  background-color: #767eee;
  border-radius: 30px;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-bottom: 10px; /* Увеличили отступ снизу */
  background-size: auto ;
  height: 500px;
  width: 700px;
 
}
.glow-on-hover {
  width: 120px;
  height: 20px;
  border: none;
  outline: none;
  color: #ecf01f;
  background: #e2d40b;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}




.glow-on-hover1 {
  width: 120px;
  height: 20px;
  border: none;
  outline: none;
  color: #ecf01f;
  background: #25a379;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #000
}

.glow-on-hover1:active:after {
  background: transparent;
}

.glow-on-hover1:hover:before {
  opacity: 1;
}

.glow-on-hover1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #bd2020;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






.glow-on-hover2 {
  width: 120px;
  height: 20px;
  border: none;
  outline: none;
  color: #ecf01f;
  background: #8d0a10;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover2:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover2:active {
  color: #000
}

.glow-on-hover2:active:after {
  background: transparent;
}

.glow-on-hover2:hover:before {
  opacity: 1;
}

.glow-on-hover2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #37cc44;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.task-item.completed {
  text-decoration: line-through;
  color: #888;
}

.task-item.completed button {
  background-color: #ccc; /* Цвет кнопки для завершенных задач */
  cursor: not-allowed; /* Запрещаем курсору при наведении */
  pointer-events: none; /* Отключаем события мыши */
}
.task-item span {
  word-wrap: break-word;
  width: 1%; /* Фиксированная ширина поля с текстом */
}
